@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --radius-menu: 2px;
  --radius-item: 2px;
  --radius-checkbox: 2px;

  --menu-gap: 2px;
  --menu-padding: 8px;
  --menu-width: 20vw;
  --menu-height: 519px;

  --color-background-menu: rgb(0 0 0 / 45%);
  --color-menu: rgb(16 185 129 / 80%);

  --color-item-menu-background: rgb(0 0 0 / 55%);
  --color-item-menu-background-hover: rgb(16 185 129 / 55%);
  
  --color-checkbox: rgb(255 255 255 / 10%);
  --color-checkbox-selected: rgb(39 39 42 / 60%);
}

.menu-scrollbar-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-padding-block: var(--menu-padding);
}

.menu-scrollbar-hidden::-webkit-scrollbar {
  display: none;
}